<div class="container-fluid" {# {{ stimulus_controller('modal') }}#}> 
	{% if thirds is defined and thirds|length > 0 %}
		<table id="taula" class="table bootstrap-table mt-3" {{ stimulus_controller('table', { 
				'url': path('third_index'), 
				'exportName': 'thirds', 
		} ) }} {# data-page-number="{{ page }}" data-page-size="{{ pageSize ?? 100 }}" data-page-sortname="{{ sortName }}" data-page-sortorder="{{ sortOrder }}"#}> 
			<thead>
				<tr>
					{# <th data-sortable="true">{{ 'third.id' | trans }}</th> #}
					<th data-sortable="true">{{ 'third.nif' | trans }}</th>
					<th data-sortable="true">{{ 'third.full_name' | trans }}</th>
					{% if operation == "language" %}
						<th data-sortable="true">{{ 'third.language_preference' | trans }}</th>
					{% elseif operation == "errolda" %}
						<th data-sortable="true">{{ 'third.erroldatua' | trans }}</th>
					{% else %}

					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for third in thirds.content %}
					<tr>
						{# <td>{{ third.id }}</td> #}
						<td>{{ third.nif }}</td>
						<td>{{ third.full_name }}</td>
							{% if operation == "language" %}
								<td>{{ third.language_preference is defined ? third.language_preference : 'label.notDefined'  | trans }}</td>
							{% elseif operation == "errolda" %}
								<td>
									{% if third.erroldatua is defined %}
										{{ third.erroldatua ? 'label.yes' | trans : 'label.no' | trans }}
									{% endif %}
								</td>
							{% else %}
								<td>{{ third.debts is defined ? third.debts : 'label.debts'  | trans }}</td>
							{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{{ include('common/_alert.html.twig') }}
	{% else %}
		<div class="alert alert-info text-center">
			{{'message.results0' | trans }}
		</div>
	{% endif %}
	{# {{ include('common/_modal.html.twig', {
      		'modalTitle': 'modal.title.observation' | trans,
      		}) 
   		}} #}
</div>
