<div class="container-fluid"> 
	{% if thirds is defined and thirds|length > 0 %}
		<table id="taula" class="table bootstrap-table mt-3" {{ stimulus_controller('table', { 
				'url': path('third_index'), 
				'exportName': 'thirds', 
		} ) }}> 
			<thead>
				<tr>
					<th data-sortable="true">{{ 'third.nif' | trans }}</th>
					<th data-sortable="true">{{ 'third.full_name' | trans }}</th>
					{% if operation == "language" %}
						<th data-sortable="true">{{ 'third.language_preference' | trans }}</th>
					{% elseif operation == "errolda" %}
						<th data-sortable="true">{{ 'third.erroldatua' | trans }}</th>
					{% else %}
						<th data-sortable="true">{{ 'third.hasDebts' | trans }}</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for third in thirds.content %}
					<tr>
						<td>{{ third.nif }}</td>
						<td>{{ third.full_name }}</td>
							{% if operation == "language" %}
								<td>{{ third.language_preference is defined ? third.language_preference : 'label.notDefined'  | trans }}</td>
							{% elseif operation == "errolda" %}
								<td>
									{% if third.erroldatua is defined %}
										{{ third.erroldatua ? 'label.yes' | trans : 'label.no' | trans }}
									{% endif %}
								</td>
							{% else %}
								{% if third.debts is defined %}
									<td>{{ third.debts ? 'label.yes' | trans : 'label.no' | trans }}</td>
								{% endif %}
							{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{{ include('common/_alert.html.twig') }}
	{% else %}
		<div class="alert alert-info text-center">
			{{'message.results0' | trans }}
		</div>
	{% endif %}
</div>
